name: Sync Fork

on:
  push:
    branches:
      - 'sync-fork'
  schedule:
    - cron: '0 0 * * *' #every 24h
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync-dev-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your forked repository
        uses: actions/checkout@v4
        with:
          repository: just-insane/cinny
          token: ${{ secrets.CLA_PAT }}
          fetch-depth: 0

      - name: Add upstream repository
        run: |
          git remote add upstream https://github.com/cinnyapp/cinny.git
          git fetch upstream

      - name: Sync with upstream/dev
        run: |
          git fetch upstream dev
          git checkout -B dev origin/main
          git merge upstream/dev
          git push origin main

      - name: Clean up
        run: |
          git remote remove upstream

  sync-voice-calls:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your forked repository
        uses: actions/checkout@v4
        with:
          repository: just-insane/cinny
          token: ${{ secrets.CLA_PAT }}
          fetch-depth: 0

      - name: Add upstream repository
        run: |
          git remote add upstream https://github.com/cinnyapp/cinny.git
          git fetch upstream

      - name: Sync with upstream/voice-calls
        run: |
          git fetch upstream voice-calls
          git checkout -B voice-calls origin/voice-calls
          git merge upstream/voice-calls
          git push origin voice-calls

      - name: Clean up
        run: |
          git remote remove upstream
